<%- include ../partials/header %>

<div class="container w-50 mb-5">
    <div class="py-5 text-center">
        <img class="mb-4" src="/images/registration-icon-1.jpg" width="72">
        <h2>Patient Registration</h2>
        <p class="lead">Fill in the patient details below and print the OPD card that gets generated. All mentioned details are required.</p>
    </div>
    <form action="/patients" method="POST">
        <div class="row mb-3">
            <div class="col-md-6">
                <label for="first-name">First Name</label>
                <input type="text" class="form-control" id="first-name" name="fName" required>
            </div>
            <div class="col-md-6">
                <label for="last-name">Last Name</label>
                <input type="text" class="form-control" id="last-name" name="lName" required>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-6">
                <label for="image">Image URL</label>
                <input type="Text" class="form-control" id="image" name="image" required>
            </div>
            <div class="col-md-2">
                <label for="age">Age</label>
                <input type="number" class="form-control" id="age" name="age" required min="0">
            </div>
            <div class="col-md-4">
                <label for="sex">Sex</label>
                <select name="sex" id="sex" class="custom-select" required>
                    <option value="" disabled selected>Select sex</option>
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                </select>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-12">
                <label for="address">Address</label>
                <input type="Text" class="form-control" id="address" name="address" required>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <label for="contact">Contact</label>
                <input type="Number" class="form-control" id="contact" name="contact" required minlength="10" maxlength="10">
            </div>
        </div>
        <hr class="mt-4">
        <button class="btn btn-dark btn-lg form-control">Register Patient</button>
    </form>
</div>

<%- include ../partials/footer %>